@media (max-width: 768px) {
}
@media (min-width: 1024px) {
}

.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(-50%);
  top: 10%;
  left: 25%;
  height: 319px;
  width: auto;
  z-index: 2;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-fundo {
  color: white;
  position: absolute;
  top: 0%;
  width: 100%;
  height: auto;
  z-index: 0;
}

.App-canto {
  position: fixed;
  top: 82%;
  left: 2%;
  width: auto;
}

.App-nav {
  top: 120px;
  position: absolute;
  padding: 10px;
  z-index: 3;

}

.App-nav ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
  gap: 50px;
  margin: 0;
}

.App-nav li {
  color: white;
  font-weight:700;
  font: arial;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}

.App-table {
  position: relative;
  left: -25%; 
  width: 200px;
  margin-top: 100px;
  border-radius: 20px;
  font-weight: 800;
  box-sizing: 20px;
}

.App-table td {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.App-table td:hover {
  background-color: #f0f0f0;
}

.active {
  background-color: #B56AAA;
}

.active a {
  color: white;
}

.App-nav a {
  font-size: 22px;
  text-decoration: none;
  color: white;
}

.App-table a {
  text-decoration: none;
}

.textofalso {
  position: absolute;
  font: arial;
  font-weight: 500;
  font-size: 20px;
  transform: translateY(-50%);
  left: 40%;
  top: 80%;
}

.titulo_SN {
  position: absolute;
  color: #C85B5C;
  transform: translateY(-50%);
  left: 40%;
  top: 40%;
  font-weight: 600;
  font-size: 40px;
}

.App-nav a:hover {
  color: plum;
}